* {
	outline: none !important;
}

@media screen and (max-width: 1199px) {
	.h_logo:after {
		display: none;
	}
	.h_fb {
		display: none;
	}
	.secondary__menu {
		display: none;
	}
	.break-1 {
		display: none;
	}
	.form-container {
		max-width: 870px;
		width: 100%;
	}
}
@media screen and (max-width: 1024px) {
	body {
		overflow-x: hidden;
	}
	.tab {
		width: 100%;
		flex-wrap: wrap;
		padding: 15px;
	}
	.tabs {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-left: 0 !important;
		margin-right: 0 !important;
		margin-bottom: 15px;
		width: 100%;
		height: auto;
	}
	.tab__content {
		height: auto;
	}
	.tabs__item {
		position: relative;
	}
	.tab.tab__order {
		height: auto !important;
	}
	.tab__order .tabs {
		width: 100%;
		max-width: 100%;
	}
	.tab__order .tabs li a {
		height: 100%;
	}
	.tab__order .tab__content {
		width: 100%;
		max-width: 100%;
	}
	.slick-feedback .slick-next, .fb__feedback .slick-next {
		right: 40px;
	}
	.slick-feedback .slick-prev, .fb__feedback .slick-prev {
		left: 40px;
	}
	.tabs li {
		margin-right: 20px;
	}
	.offer {
		min-width: 240px;
	}
	.how__cont {
		position: relative;
		border: 4px solid var(--primary);
	}
	.how__image, .how__count, .how__text {
		position: relative;
		z-index: 1;
	}
	.how__cont:before {
		content: '';
		position: absolute;
		width: calc(100% + 8px);
		height: calc(100% - 20px);
		background: #fafafa;
		position: absolute;
		left: -4px;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		z-index: 0;
	}
	.how__cont:after {
		content: '';
		position: absolute;
		height: calc(100% + 12px);
		width: calc(100% - 20px);
		background: #fafafa;
		position: absolute;
		left: 0;
		right: 0;
		top: -4px;
		bottom: 0;
		margin: auto;
		z-index: 0;
	}
}
@media screen and (max-width: 920px) {
	.hamburger {
		display: block;
		left: auto;
		right: 0;
	}
	.h {
		padding: 30px 0;
		border-bottom: 1px solid #e5e5e5;
		bottom: 0;
	}
	.h_logo {
		display: block;
		padding-right: 0;
		width: 200px;
		height: 30px;
	}
	.h_logo-image {
		margin-top: 0;
		max-width: 220px;
	}
	.m, .menu-toggler {
		display: none;
	}
	.menu-toggler.active {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
		position: fixed;
		top: 86px;
		left: 0;
		width: 100%;
		height: calc(100vh - 86px);
		visibility: visible;
		overflow: auto;
		background: white;
		z-index: 1;
		padding: 40px 16px 0 16px;
	}
	.m.active {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		        justify-content: center;
		flex-direction: column;
		align-content: center;
		align-items: center;
	}
	.m__item, .menu-item {
		margin-right: 0;
	}
	.hidden-info {
		display: flex;
		flex: 0 0 auto;
		flex-direction: column;
		text-align: center;
		margin-top: 40px;
		font-size: 16px;
	}
	.hidden-info .h_phone{
		font-size: 16px;
	}
	.hidden-info > div {
		margin-bottom: 5px;
	}
	.slide__cont {
		margin: 0 auto;
	}
	.banner__slider .slick-prev {
		top:0;
		bottom:0;
		left: 15px;
		right: auto;
		margin: auto;
	}
	.banner__slider .slick-next {
		top:0;
		bottom:0;
		left: auto;
		right: 15px;
		margin: auto;
	}
	.how__wrap {
		height: 285px;
	}
	.how__text {
		max-width: 300px;
		margin: 0 auto;
	}
	.how__arrow {
		display: none;
	}
	.sticky-header {
		display: none !important;
	}
	.divider {
		display: none;
	}
	.how__wrap .slick-prev, 
	.how__wrap .slick-next {
		top: 0;
    	bottom: 0;
		margin: auto;
    	width: 45px;
    	height: 45px;
    	border-radius: 50%;
    	box-shadow: 0 13px 24px 0 rgba(0, 0, 0, 0.16);
    	background-color: #ffffff;
    	background-position: center;
    	background-repeat: no-repeat;
    	background-size: 25%;
    	transition: all ease .3s;
   	 	font-size: 0;
	}
	.how__wrap .slick-prev:before, 
	.how__wrap .slick-next:before {
		content: '';
		font-size: 0;
	}
	.how__wrap .slick-prev {
		left: 20px;
		background-image: url('/wp-content/themes/alexwlami/img/assets/shape_4.svg');
		z-index: 5;
	}
	.how__wrap .slick-next {
		right: 20px;
		background-image: url('/wp-content/themes/alexwlami/img/assets/shape_3.svg');
		z-index: 5;
	}
	.feedback__switch {
		display: none;
	}
	.fb__feedback {
		display: none;
	} 
	.hero-buttons {
		bottom: 15px;
	}
	.hero-slider__container {
		max-width: 100%;
		height: 100%;
		transform: translate(0,0);
		top: 0;
		padding: 25px;
	}
	.hero-slider__title, .hero-slider__title-2 {
		font-size: 20px;
	}
	.hero-slider__list {
		font-size: 16px;
	}
	.hero-slider__list li {
		font-size: 14px;
		padding-left: 20px;
	}
	.hero-slider__subtitle {
		font-size: 14px;
	}
	.table__styled td {
		padding: 15px;
	}
	.table__styled .q__caption--simple {
		margin-bottom: 0;
	}
	.tab__order li a {
		padding: 15px 15px 66px 15px;
	}
	.tab__order li {
		margin-right: 5px;
	}
	.tab__order li:last-child {
		margin-right: 0;
	}
	.responsive-caption {
		display: none;
	}
	.stages-buttons {
		padding-top: 0;
	}
	.stages-buttons .secondary__button {
		max-width: 200px;
	}
}
@media screen and (max-width: 767px) {
	.form_box.form_contact {
		padding: 30px 15px;
	}
	.form_box {
		top: 0 !important;
		height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
		padding: 30px 15px;
	}
	.resume-slider__container {
		display: none;
	}
	.blog-author {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.blog-popular {
		margin-bottom: 20px;
	}
	.post__img {
		height: auto;
	}
	.preview-card {
		padding: 15px;
		margin-bottom: 30px;
	}
	.preview-card__image {
		margin: 0 auto;
	}
	.preview-card__title {
		text-align: center;
	}
	.preview-card__list {
		display: none;
	}
	.preview-card__circle.circle-first {
		top: auto;
		margin: 15px auto;
	}
	.preview-card__circle.circle-second {
		left: auto;
		margin: 15px auto;
	}
	.footer__mid {
		text-align: center;
	}
	.footer__call {
		padding-top: 0;
	}
	.tabs {
		flex-direction: column;
		justify-content: flex-start;
	}
	.resume__container .q__title {
		height: auto;
		margin-bottom: 20px;
	}
	.resume__side {
		margin-left: 10px;
	}
	.prime__button.centered {
		margin-bottom: 30px;
	}
	.feedback__item, .fb__feedback--item {
		width: 320px;
		height: auto;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		padding: 30px 15px;
	}
	.feedback__item--image {
		margin-right: 0;
		padding-right: 0;
		border-right: 0;
		border-bottom: 1px solid #e6e6e6;
		padding-bottom: 20px;
	}
	.feedback__item--body {
		text-align: center;
	}
	.feedback__switch input[type="checkbox"] {
		width: 100%;
	}
	.feedback__switch .switch-label {
		font-size: 13px;
	}
	.slick-feedback .slick-next, .fb__feedback .slick-next {
		right: 30px;
	}
	.slick-feedback .slick-prev, .fb__feedback .slick-prev {
		left: 30px;
	}
	.hero-buttons {
		display: none;
	}
	.offer {
		max-height: 100%;
	}
	.grid-container.no-pad {
		padding: 0 .625rem;
	}
	.offer.offer__wide {
		width: 100%;
	}
	.tab__content.high {
		height: auto;
	}
	.about__photo {
		margin-bottom: 15px;
	}
	.about__name {
		text-align: center;
	}
	.about__subname {
		margin-bottom: 15px;
	}
	.modal__button.strelka {
		margin: 0 auto;
	}
	.blockquote:after,
	.blockquote:before {
		display: none;
	}
	.banner__list {
		width: 100%;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		overflow-x: auto;
		overflow-y: hidden;
	}
	.banner__item {
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}
	.banner__slide {
		height: auto !important;
		padding: 10px;
	}
	.slide__cont {
		padding: 30px 15px;
	}
	.slider__footer .prime__button  {
		margin: 0 auto;
	}
	.slider-price {
		text-align: left;
	}
	.tab.tab__order {
		height: auto !important;
		padding: 0;
	}
	.table__styled td {
		display: block;
		border: none;
		width: 100%;
	}
	.resume__container {
		height: auto;
		margin: 0 auto;
		margin-bottom: 30px;
		justify-content: center;
	}
	.resume__container .q__title {
		text-align: center;
	}
	.resume__side {
		margin: 10px auto;
		height: auto;
	}
	.resume .prime__button,
	.resume .secondary__button {
		margin: 0 auto;
		margin-bottom: 60px;
	}
	.cell__checklist, .cell__unchecklist {
		padding-right: 0;
	}
	.movable {
		display: none;
	}
	.breakpoint-title {
		display: block;
	}
	td.empty {
		display: none;
	}
	.table__styled .table__icon {
		display: none;
	}
	.complex-help-hero__bg {
		height: 460px;
	}
	.complex-help-hero__timeline {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		align-content: center;
	}
	.complex-help-hero__timeline-item:before,
	.complex-help-hero__timeline-item:after {
		display: none;
	}
	.complex-help-hero__timeline-item {
		padding-top: 8px;
	}
	
	.resume-to-order {
		min-width: 320px;
		flex: 1 0 auto;
	}
}
@media screen and (max-width: 550px) {
	.h_logo-image {
		max-width: 200px;
	}
	.m__item, .menu-item {
		width: 100%;
		margin-right: 0;
		text-align: center;
	}
	.q__caption {
		font-size: 18px;
		margin-bottom: 24px;
	}
	.q__text {
		font-size: 14px;
	}
	.q__hard-text {
		padding: 10px 20px;
		background-image: none;
		background-color: #f2f2f2;
	}
	.q__item {
		font-size: 13px;
		padding-left: 12px;
		padding-bottom: 10px;
	}
	.q__item:before {
    	content: '';
    	display: block;
    	position: absolute;
    	width: 5px;
    	height: 5px;
    	background: rgb(45, 45, 45);
    	top: 5px;
    	left: 0px;
	}
	.list li {
		font-size: 14px;
    	margin-left: 10px;
		padding-left: 10px;
		padding-bottom: 12px;
	}
	.page {
		padding: 10px 20px;
	}
	.page__caption {
		height: auto;
	}
	.page__text {
		font-size: 13px;
		margin-bottom: 15px;
	}
	.hidable {
		display: none;
	}
	.block-banner__count {
		left: 0;
	}
	.block-banner__list {
		margin-bottom: 60px;
	}
}
