.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', Arial, sans-serif;
}

h2 {
    font-size: 22px;
    font-family: 'Ubuntu';
    font-weight: 500;
    line-height: 1.5;
    color: var(--black);
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding-bottom: 9px;
    margin-bottom: 40px;
}

.star {
    color: var(--primary);
    font-size: inherit;
}